[submodule "projects/ai-eggs"]
	path = projects/ai-eggs
	url = https://github.com/Erik03132/angel-sales.git
[submodule "projects/ai-scout"]
	path = projects/ai-scout
	url = https://github.com/Erik03132/ai-scout-final.git
[submodule "projects/angel-backend"]
	path = projects/angel-backend
	url = https://github.com/Erik03132/angel-backend.git
[submodule "projects/ai-grant-portal-temp"]
	path = projects/ai-grant-portal-temp
	url = https://github.com/Erik03132/ai-grant-consult-portal.git
